body{
    font-family: 'Roboto', sans-serif;
    background-color: #b2cad5;
}

/* navbar css starts here  */
.bg-light{
    background-color: #e8f2e4!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #c8c838!important;
}

.nav-link{
    color: #68665f!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #2cdd41;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(11, 11, 11)!important;
    color: #1fe273!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(61, 245, 255)!important;
}